In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
df = pd.read_pickle('../data/interim/interim_cleaned_data.pickle')

In [3]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 26613 entries, 0 to 28058
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     26613 non-null  object
 1   age_range                     26613 non-null  object
 2   industry                      26613 non-null  object
 3   job_title                     26613 non-null  object
 4   salary(annualized)            26613 non-null  object
 5   additional_compensation       26613 non-null  float64
 6   currency                      26613 non-null  object
 7   country                       26613 non-null  object
 8   us_state                      26613 non-null  object
 9   us_city                       26613 non-null  object
 10  years_of_experience           26613 non-null  object
 11  years_of_experience_in_field  26613 non-null  object
 12  level_of_education            26613 non-null  object
 13  gender                        26613 non-null  object
 14  race                          26613 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.2+ MB
None

,timestamp,age_range,industry,job_title,salary(annualized),additional_compensation,currency,country,us_state,us_city,years_of_experience,years_of_experience_in_field,level_of_education,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,united states,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,united kingdom,N/A,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,united states,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,united states,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,united states,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White